<div class="column column-50 gallery-item">
    <div class="row">
        <div class="column">
            <div class="project-title">
                <h4>{{name}}</h4>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="column column-80">
            <div class="project-description">
                <p>{{description}}</p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="project-tags">
            <div class="column column-80">
                {{#tags}}
                    <button class="project-tag">{{.}}</button>
                {{/tags}}
            </div>
        </div>
    </div>
</div>